# Telegram
TELEGRAM_BOT_TOKEN=

# OpenAI
OPENAI_API_KEY=

# Pinecone
PINECONE_API_KEY=
PINECONE_INDEX_NAME=restaurant
PINECONE_NAMESPACE=

# Google
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_SHEET_NAME=
GOOGLE_DRIVE_FOLDER_ID=

# Gmail
GMAIL_RECIPIENT_EMAIL=

# n8n
N8N_HOST=
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=
GENERIC_TIMEZONE=Africa/Cairo